body{
    background-color:lightblue;
    color:magenta;
    font-family:sans-serif;
    margin:0;
    background: #feccb1; /* Old browsers */
background: -moz-linear-gradient(top, #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
background: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  }
  
  h2{
    color:#9900FF;
  }
  
  a{
      text-decoration:none;
      color:#FF9600;
  }
  
   h1{
      font-size:72px;
      font-family:Georgia;
      margin-top:50px;
   }
   
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
    }
    
      nav a:hover{
        background-color: #727272;  
      }
      
      header{
          text-align: center;
      }
      header img  {
          border-radius: 50%;
      }
      
      header h1{
          font-family: 'Alegreya', serif;
          font-size:80px;
      }
      
      header h2  {
          font-family: 'PT Serif', serif;
      }
      
      section  {
          background-image:url(http://41.media.tumblr.com/1fe39c3560de0447009d8442372d78f2/tumblr_na5iscmbig1slhhf0o1_1280.jpg);
          height:400px;
          background-size:cover;
          Text-align:center;
      }
      
 #features{
          background-image:none;
         background-color:#CBAF76;
         height:250px;
         color:black;
      }
      
p{
     background-color:#A76F46;;
     font-family:impact,haettenschweiler,"ariel narrow bold", sans-serif;
     margin:2px;
     padding:10px;
     width:200px;
     display:inline-block;
     
}

p:hover{
    margin-top:-10px;
    transform:rotate(-7deg);
}
      
      button{
          color:#FFF;
          background-color:#F00;
          border:none;
          border-radius:3px;
          padding:5px;
          margin-top:40px;
          opacity:0.0;
      }
      
      header h1{
          font-family: 'Poiret One', cursive;
      }
      
      header h2{
          font-family: 'Josefin Sans', sans-serif;
      }
      
      header text,
      header{
          text-align:center;
      }
      
      .menu-selected{
          background-color:#FF00FF;
      }
      
      table{
         width: 1214px;
         margin:0 auto;
      }

