body{
    background-color:lightblue;
    color:magenta;
    font-family:sans-serif;
  }
  
  h2{
    color:#9900FF;
  }
  
  a{
      text-decoration:none;
      color:#FF9600;
  }
  
   h1{
      font-size:72px;
      font-family:Georgia;
      margin-top:50px;
   }
   
   a{
      text-decoration:none;
      
  }
  a:hover  {
      color:red;
  }
