body{
    background-color:lightblue;
    color:magenta;
    font-family:sans-serif;
    margin:0;
  }
  
  h2{
    color:#9900FF;
  }
  
  a{
      text-decoration:none;
      color:#FF9600;
  }
  
   h1{
      font-size:72px;
      font-family:Georgia;
      margin-top:50px;
   }
   
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
    }
    
      nav a:hover{
        background-color: #727272;  
      }
      
      header{
          text-align: center;
      }
      header img  {
          border-radius: 50%;
      }
      
      header h1{
          font-family: 'Alegreya', serif;
          font-size:80px;
      }
      
      header h2  {
          font-family: 'PT Serif', serif;
      }
      
      section  {
          background-image:url(http://41.media.tumblr.com/1fe39c3560de0447009d8442372d78f2/tumblr_na5iscmbig1slhhf0o1_1280.jpg);
          height:400px;
          background-size:cover;
          Text-align:center;
      }
      
      #features{
          background-image:none;
         background-color:#CBAF76;;
         height:250px;
         color:black;
      }
      
p{
     background-color:#A76F46;;
     font-family:impact,haettenschweiler,"ariel narrow bold", sans-serif;
     margin:2px;
     padding:10px;
}
      
      button{
          color:#FFF;
          background-color:#F00;
          border:none;
          border-radius:3px;
          padding:5px;
          margin-top:40px;
      }
      
      header h1{
          font-family: 'Poiret One', cursive;
      }
      
      header h2{
          font-family: 'Josefin Sans', sans-serif;
      }
      
      header text,
      header{
          text-align:center;
      }
      

